.genre-manager {
  position: relative;

  .genreSelectionBtn {
    display: inline-block;
    background-color: aqua;
    padding: 5px;
  }

  .genreSelection {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0;
    bottom: 100%;
    left: 0;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: 20%;
      padding: 25px 0;
      margin: 0;
    }
  }
}

.genre-section > div {
  margin: 10px 0;
}

.selected-genres-display {
  display: flex;
  flex-wrap: wrap;

  div {
    margin: 0 10px;
  }
}

.genre-btn-default {
  background-color: dodgerblue;
}

.genre-btn-default:hover {
  background-color: cornflowerblue;
}

.genre-btn-selected {
  background-color: chartreuse;
}

.genre-btn-selected:hover {
  background-color: greenyellow;
}
