<div class="game-info">
  <h1>Game info:</h1>
  <p>id: {{ game?.id }}</p>
  <p>title: {{ game?.title }}</p>
  <p>amount: {{ game?.amount }}</p>
  <p>price: {{ game?.price }}</p>
  <p>score: {{ game?.score }}</p>
  <p>description: {{ game?.description }}</p>
  <p>releaseDate: {{ game?.releaseDate }}</p>
  <p>company: {{ game?.company }}</p>

  <h3>genres:</h3>
  <div *ngFor="let genre of game?.genres">
    <p>{{ genre.name }}</p>
  </div>

  <h3>platforms:</h3>
  <div *ngFor="let platform of game?.platforms">
    <p>{{ platform.name }}</p>
  </div>

  <div>
    <h3>photos:</h3>
    <div *ngFor="let imgUrl of game?.screenShotsImgUrl">
      <img [src]="env.imgPath + imgUrl" alt="screenShot">
    </div>
  </div>

  <div *ngIf="game?.additionalContent.length > 0">
    <h3>additionalContent:</h3>
    <div *ngFor="let dlcGame of game?.additionalContent">
      <p [routerLink]="['/addons', dlcGame?.id]">{{ dlcGame?.title }}</p>
    </div>
  </div>

</div>
