<div>
  <h1>Game info:</h1>
  <p>id: {{ game?.id }}</p>
  <p>title: {{ game?.title }}</p>
  <p>amount: {{ game?.amount }}</p>
  <p>price: {{ game?.price }}</p>
  <p>score: {{ game?.score }}</p>
  <p>imgUrl: {{ game?.imgUrl }}</p>
  <p>description: {{ game?.description }}</p>
  <p>releaseDate: {{ game?.releaseDate }}</p>
  <p>company: {{ game?.company }}</p>

  <!--<h3>screenShotsImgUrl:</h3>-->
  <!--<div *ngFor="let url of game.screenShotsImgUrl">-->
    <!--<p>{{ url }}</p>-->
  <!--</div>-->

  <h3>genres:</h3>
  <div *ngFor="let genre of game?.genres">
    <p>{{ genre }}</p>
  </div>

  <h3>platforms:</h3>
  <div *ngFor="let platform of game?.platforms">
    <p>{{ platform.name }}</p>
  </div>

  <div *ngIf="game?.additionalContent.length > 0">
    <h3>additionalContent:</h3>
    <div *ngFor="let dlcGame of game?.additionalContent">
      <p [routerLink]="['/games/', dlcGame?.id]">{{ dlcGame?.title }}</p>
    </div>
  </div>


  <!--<div>-->
    <!--<h3>Main game:</h3>-->
    <!--<p [routerLink]="['/games/', game?.mainGame.id]">{{ game?.mainGame }}</p>-->
  <!--</div>-->

</div>
