<div>
  <h1>Device info:</h1>
  <p>id: {{ device?.id }}</p>
  <p>title: {{ device?.title }}</p>
  <p>amount: {{ device?.amount }}</p>
  <p>price: {{ device?.price }}</p>
  <p>imgUrl: {{ device?.imgUrl }}</p>
  <p>gamepads: {{ device?.gamepads }}</p>

<!--  <h3>photos:</h3>-->
<!--  <div *ngFor="let photos of device?.photosImgUrl">-->
<!--    <p>{{ photos }}</p>-->
<!--  </div>-->

  <div *ngFor="let conditionStates of device?.conditionStates">
    <p>Condition state: {{ conditionStates.name }}</p>
  </div>

</div>
