<h1>Game form</h1>
<form [formGroup]="reactiveFormGroup" (ngSubmit)="registerForm()">
  <div>
    Game title: <br>
    <input
      formControlName="title"
      type="text"
    >
  </div>
  <div>
    Company name:<br>
    <input
      formControlName="company"
      type="text"
    >
  </div>
  <div>
    Price: <br>
    <input
      formControlName="price"
      type="number"
    >
  </div>
  <div>
    Score: <br>
    <input
      formControlName="score"
      type="number"
    >
  </div>
  <div>
    Release date: <br>
    <input
      formControlName="releaseDate"
      type="date"
    >
  </div>
  <div>
    Amount: <br>
    <input
      formControlName="amount"
      type="number"
    >
  </div>
  <div>
    Description: <br>
    <textarea
      formControlName="description"
      type="text" rows="10" cols="40"></textarea>
  </div>

  <app-images-uploader (filesEmitter)="updateSelectedFiles($event)"></app-images-uploader>

  <div class="genre-section">
    <app-genres-table
      [parentForm]="reactiveFormGroup"
      [genresData]="genresData"
    >
    </app-genres-table>
  </div>

  <div class="platform-section">
    <label>Platforms:</label> <br>
    <div
      formArrayName="platforms"
      *ngFor="let platform of platformsFormArray.controls; let i = index"
    >
      <input
        type="checkbox"
        [formControlName]="i"
      >
      {{platformsData[i].name}}
    </div>
  </div>

  <div class="addons-section" formArrayName="additionalContent">
    <button
      class="add-addon-btn"
      (click)="addAddonForm()"
    >
      Add Addon
    </button>
    <div
      *ngFor="let addon of addonsFormArray.controls; let i = index"
    >
      <app-game-addon-form
        [formControlName]="i"
      ></app-game-addon-form>
      <button
        (click)="removeAddonForm(i)"
      >
        Remove
      </button>
    </div>
  </div>

  <button type="submit">Submit</button>

</form>
