form > div {
    margin: 20px 0;
  }

.genre-manager {
  position: relative;

  .genreSelectionBtn {
    display: inline-block;
    background-color: aqua;
    padding: 5px;
  }

  .genreSelection {
    position: absolute;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    bottom: 100%;
    left: 0;

    div {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 10px;
      margin: 0;
    }
  }
}

.platform-section > div {
  margin: 10px 0;
}

.genre-section > div {
  margin: 10px 0;
}

.selected-genres-display {
  display: flex;
  flex-wrap: wrap;

  div {
    margin: 0 10px;
  }
}

.genre-btn-default {
  background-color: dodgerblue;
}

.genre-btn-default:hover {
  background-color: cornflowerblue;
}

.genre-btn-selected {
  background-color: chartreuse;
}

.genre-btn-selected:hover {
  background-color: greenyellow;
}

