<h1>Games:</h1>

<div class="game-list-wrapper df">
  <div
    class="item-wrapper"
    *ngFor="let game of gamesList"
  >
    <div
      class="item"
      (click)="navigateToGame(game)">
      <div class="item-img-wrapper">
        <img
          class="item-title-img"
          [src]="env.imgPath + game?.titleImgUrl" alt="title img"
        >
      </div>
      <div class="item-info-wrapper">
        <div class="item-info-header">
          <span class="title-text">{{game.title}}</span>
        </div>
        <div class="item-info-footer">
          <div class="info-footer-platforms">
            <span class="platform-text" *ngFor="let platform of game.platforms">{{platform.name}}</span>
          </div>
          <div class="info-footer-price">
            <span class="price-text">{{game.price | currency }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="reactiveFormGroup">
  <div>
    Game title: <br>
    <input
      formControlName="title"
      type="text"
    >
  </div>
  <div>
    MinPrice: <br>
    <input
      formControlName="minPrice"
      type="number"
      [value]="0"
    >
  </div>
  <div>
    MaxPrice: <br>
    <input
      formControlName="maxPrice"
      type="number"
      [value]="getmaxPrice()"
    >
  </div>
  <div>
    <label>Platform:</label> <br>
    <div
      formArrayName="platforms"
      *ngFor="let platform of platformsFormArray.controls; let i = index"
    >
      <input
        type="checkbox"
        [formControlName]="i"
      >
      {{platformsData[i].name}}
    </div>
  </div>
<!--  <div>-->
<!--    <label>Genre:</label> <br>-->
<!--    <div-->
<!--      formArrayName="genres"-->
<!--      *ngFor="let genre of genresFormArray.controls; let i = index"-->
<!--    >-->
<!--      <input-->
<!--        type="checkbox"-->
<!--        [formControlName]="i"-->
<!--      >-->
<!--      {{genresData[i].name}}-->
<!--    </div>-->
<!--  </div>-->

  <button (click)="search()">Search</button>
</form>
